html {
  /*hide horizontal scrollbar */
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  align-content: space-between;
  background-color: #fff;
  font-family: "EB Garamond", "PT Serif", serif;
  font-size: 20px;
  line-height: 1.6em;
  text-align: justify;
  color: #303030;
}

.main {
  grid-area: main;
  width: 100%;
}

/* JUMBOTRON */

.cover {
  grid-area: header;
  height: 99.95vh;
  width: 100%;
  background-color: #000;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.cover--chinese-teahouse {
  background-image: url("/images/china/teahouse/sichuan17-2048.jpg");
}

/* jeden ze sposobów na zrobienie trójkąta */

.cover::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 90vh;
  border-left: 49.5vw solid transparent;
  border-right: 49.5vw solid transparent;
  border-bottom: 10vh solid #f5f5f5;
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
}

.navigation__link {
  position: relative;
  display: block;
  padding: 0.2rem 0;
  margin: 0 1.5rem;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__logo {
  width: 250px;
  margin: 0.5rem 2rem 0;
}

/* nav links border transformations */

.navigation__link::before,
.navigation__link::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0;
  transition: all 0.3s;
}

.navigation__link::before {
  top: 0px;
  transform: translateY(-10px);
}

.navigation__link::after {
  bottom: 0px;
  transform: translateY(10px);
}

.navigation__link:hover:before,
.navigation__link:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

/* JOURNAL ARTICLE - TITLE */

.article {
  width: 100%;
  max-width: 3072px;
}

.article-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

.article-header__logo {
  background-color: #f5f5f5;
}

.article-header__title {
  padding: 1rem 0 1.5rem 0;
  background-color: #f5f5f5;
  text-align: center;
  font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #3a3a3c;
  text-transform: uppercase;
}

/* JOURNAL POST - PREFACE */

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 16px;
  grid-template-areas: "aside-1 preface aside-2";
  justify-content: center;
  padding-bottom: 5em;
  /* 2 sposób na zrobienie trójkąta-wielokąta w CSS */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);
  background-color: #f5f5f5;
}

.preface {
  grid-area: preface;
  padding-bottom: 2em;
  font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.info {
  grid-area: aside-1;
  display: grid;
  justify-content: center;
  align-content: start;
  justify-items: center;
  margin-top: 1em;
}

.info__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;
  font-weight: normal;
  color: #3a3a3c;
  text-transform: uppercase;
  text-align: justify;
}

.info__date__month {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.info__date__day {
  font-size: 2.8rem;
  line-height: 2.8rem;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
}

.info__date__year {
  font-size: 1rem;
  line-height: 1.8rem;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.info__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5.5rem;
  padding: 0.5rem 1.5rem;
  border-top: 3px dotted #3a3a3c;
  border-bottom: 3px dotted #3a3a3c;
  font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;
  font-size: 0.6em;
  line-height: 1.4em;
  color: #3a3a3c;
  text-transform: uppercase;
}

.social-media {
  grid-area: aside-2;
  justify-content: center;
  display: grid;
  grid-template-columns: 1.3em 1.3em;
  grid-template-rows: 1.3em 1.3em 1.3em;
  grid-gap: 0.3em;
  align-items: start;
  justify-items: center;
  margin-top: 1em;
}

.social-media__link {
  display: block;
  font-size: 1.3em;
  color: #303030;
  transition: 0.2s;
}

.social-media__link:hover,
.social-media__link:active {
  color: #ffbd24;
}

/* JOURNAL TEXT - CONTAINER */

.journal {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 16px 0.5rem;
}

.journal > * {
  grid-column: 2 / -2;
}

/* JOURNAL POST - TEXT & TITLES */

.journal__title {
  font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;
  font-weight: 700;
  color: #3a3a3c;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

/* TEXT HIGHLIGHT */

.highlight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0;
}

.highlight__text {
  width: 75%;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
  color: #3a3a3c;
  text-align: center;
}

.highlight__arrow {
  color: #cccccc;
}

/* GALLERIES */

.gallery {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 3px;
  margin: 5rem 0;
}

.gallery--col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery--col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery--grid-4 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery__fullwidth-1 {
  grid-column: 1 / -1;
}

.gallery__half-1 {
  grid-column: 1 / 2;
}

.gallery__half-2 {
  grid-column: 2 / -1;
}

.gallery__fullwidth-2 {
  grid-column: 1 / -1;
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
}

/* CALLOUT */

.callout {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 55vw;
  margin: 4rem 0;
  padding: 4rem;
  background-color: #f5f5f5;
  box-shadow: -2px 2px 10px #ddd;
}

.callout__wrapper {
  flex-basis: 50%;
}

.callout__title {
  font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
  color: #3a3a3c;
  text-transform: uppercase;
}

.callout__description {
  font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;
  font-size: 0.8rem;
  line-height: 1.4em;
  color: #3a3a3c;
  text-align: right;
  padding-top: 1rem;
}

.callout__image {
  flex-basis: 50%;
  width: 500px;
  padding-left: 3rem;
}

.callout div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  left: 35px;
  width: 10%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #bce1e5;
  box-shadow: -5px 5px 10px #ccc;
}

.callout__icon {
  width: 3rem;
  height: 3rem;
}

/* TOP BUTTON - fixed */

.top-button {
  width: 1.8em;
  height: 1.8em;
  position: fixed;
  right: 1vw;
  bottom: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffbd24;
  z-index: 1;
}

.top-button__text {
  color: white;
}

/* FOOTER */

.footer {
  grid-area: footer;
  width: 100%;
  height: 20vh;
  background-color: #222;
  color: #bbb;
  text-align: center;
  padding-top: 2rem;
  margin-top: 4rem;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 100% 100%, 0% 100%);
}

.footer-media {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.footer-media__link {
  font-size: 1.5rem;
  color: #ddd;
  margin: 1rem 0.2rem 0.5rem 0.2rem;
  transition: 0.2s;
}

.footer-media__link:hover {
  color: #ffbd24;
}

.footer__text {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 400;
}

/*

 @media screen and (max-width: 1326px) {
  body {
    font-size: 18px;
  }


  .cover {
    height: 79.95vh;
  }

  .cover--chinese-teahouse {
    background-image: url("/images/china/teahouse/sichuan17-2048.jpg");
  }

 

  .cover::after {
    top: 70vh;
  }



  .preface {
    width: 65vw;
    line-height: 1.6rem;
  }

  .info,
  .social-media {
    flex-basis: 15%;
  }

  .info__date__month {
    font-size: 1.2rem;
  }



  .journal {
    width: 90vw;
  }

 

  .journal__text {
    width: 65vw;
  }



  .callout {
    align-items: center;
    width: 70vw;
  }

  .callout__wrapper {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }


  .cover {
    height: 59.95vh;
  }

  .cover--chinese-teahouse {
    background-image: url("/images/china/teahouse/sichuan17-2048.jpg");
  }

  

  .cover::after {
    top: 50vh;
  }

  

  .journal {
    width: 100vw;
  }



  .journal__text {
    width: 80vw;
  }



  .callout {
    align-items: center;
    width: 80vw;
  }

  .callout__wrapper {
    flex-basis: 60%;
  }
} 

*/
