$col-pop: #ffbd24;
$col-white: #fff;
$col-black: #000;
$light-grey: #f5f5f5;
$dark-grey: #3a3a3c;
$text: #303030;

$font-text: "EB Garamond", "PT Serif", serif;
$font-title: "Roboto Condensed", Helvetica, Verdana, sans-serif;
